/* Example of making the text fill almost the entire width */
.workspace-leaf-content {
    max-width: 95vw; /* This value can be adjusted between 0 and 100 */
    margin: 0 auto;
  }
  
  .markdown-preview-view,
  .markdown-source-view {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .workspace-split {
    margin-left: 2px;
    margin-right: 2px;
  }
  